#home {

background: url(../images/wallset.png) no-repeat center center fixed;
background-position: 0 25px;

data-stellar-background-ratio= '0.6';
data-stellar-vertical-offset= '20';
display: table;
height: 100%;
position: relative;
width: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#Aboutme{

  color:#face0e;
  font-family: arial;
}

.navbar-default {
  background-color: #face0e;
  border-color: #0D0D0D;

}

}
.navbar-brand{
  background-color: #face0e;

}
.navbar-header{
background-color: #face0e;
}

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
 }
.text-vcenter h2 {
   font-size: 4.5em;
   font-weight: 700;
   font-color: black;
   margin: 0;
   padding: 0;
}






}

/* if you want to change the original color */
.



}
#skills {

  display: inline-block;
  height: 75%;
  text-align: center;
  line-height: 140px;

  vertical-align: middle;
  width:140px;
}




html,body{
  height: 100%;
  width: 100%;

}
.pad-section{
  padding: 50px 0;


